      #html,body{height:100%;}
      #divAjaxTimer, #ifAjaxTimer{
        position: absolute;
        top: 0;
        left: 30px;
        display: none;
        width: 350px;
        height: 150px;
      }
      
      #divAjaxTimer{
        background-color: white;
        border: 3px outset;
        z-index: 101;
      }
      #ifAjaxTimer
      {
		z-index: 100;
      }
      #divAjaxContent,#divAjaxTitle{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
      }
      #divAjaxTitle{
        background-color: blue;
        background-image: url("../images/bluegrad.jpg");
        padding: 3px;
        color: white;
      }
      #divAjaxContent{
        color: black;
        width: 330px;
        margin: 5px 5px 10px 5px;
      }
      #divAjaxBut{
        text-align: center;
        margin-bottom: 10px;
      }
      