body {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: 337px;
    margin:0 auto;
}

.logo {
    display: block;
    margin: 5px auto 2px;
}

.top_bar {
    background-color: #990000;
    height: 15px;
    padding: 9px;
    color:#cccccc;
}

.top_bar a {
    text-decoration:none;
    color:#cccccc;
}

.top_bar .left {
    float: left;
    line-height:1.5em;
}

.top_bar .right {
    float: right;
    line-height:1.5em;
}

.top_bar .center {
    text-align: center;
    line-height: 1.5em;
}

br.clearFix {
    clear:both;
    height: 0px;
    display: none;
}

.auth_form {
    border: 2px solid #990000;
    padding: 5px 0;
}

.auth_button_div {
    text-align: center;
    background-color: #990000;
    padding: 1px;
}

#auth_form_table {
    border: none;
    width:100%;
    font-size:11px;
    padding: 1px;
}

#auth_form_table .auth_form_label {
    text-align: right;
    font-weight: bold;
}

#widget_dijit_form_FilteringSelect_0 {
    width:160px;
    font-size:12px;
}

#language_row td {
    padding-bottom: 15px;
}

#loginId, #password {
    width: 160px;
}

#errors td {
    color:red;
    font-size:11px;
    padding-left:15px;
    text-align: center;
}

#forgot_password {
    text-align: center;
    margin: 2px 0;
}

#forgot_password a {
    color:#888888;
    font-size: 11px;
    text-decoration:none;
}

.error {
    color: red;
}

.message {
    text-align: center;
    padding: 3px;
}