.tooltip {
    width: 200px;
    color: #000;
    font: lighter 11px / 1.3 Arial, sans-serif;
    text-decoration: none;
    text-align: left
}

.tooltip span.top {
    padding: 30px 8px 0;
    background: url( ../images/bubble.gif ) no-repeat top
}

.tooltip b.bottom {
    padding: 3px 8px 15px;    
    background: url( ../images/bubble.gif ) no-repeat bottom
}