#bodyContent {
    margin: 6px;
}

#kbTable, #kbSearchTable {
    width: 100%;
    table-layout: fixed;
}

#locationFilterDiv {
    text-align: center;
}

#kbTable th{
    height: 21px;
}

#kbTable td, #kbSearchTable td {
    padding: 2px;
}

#kbSearchTable td {
    font-size: 12px;
}

#kbSearchTable td.long {
    width: 80%;
}

#kbSearchTable td.top {
    vertical-align: top;
}

#kbTable th a {
    vertical-align: middle;
}

th.short {
    width:100px;
}

#kbTable th img {
    vertical-align: top;
}

.pages {
    color: #808080;
    margin: 5px;
}

.pages .left {
    float: left;
}

.pages .right {
    float: right;
    text-align: right;
}

br.clearFix {
    clear:both;
}

.linkLike {
    color: blue;
    font-size: 14px;
    text-decoration: underline;
}