#mainTabContainer {
    height: 100%;
}

.ttIcon {
    background: url('../images/form_16.png') no-repeat;
}

.userIcon {
    background: url('../images/ticketSettings/technician.gif') no-repeat;
}

.exportIcon {
    background: url('../images/export_db_16.png') no-repeat;
}

.exportPdfIcon {
    background: url('../images/pdf.png') no-repeat;
}

.exportXcelIcon {
    background: url('../images/excel-icon_16.png') no-repeat;
}

.tenpix {
    font: 10px Arial, Myriad, Tahoma, Verdana, sans-serif;
}

.dojoxGrid table {
    margin: 0;
}

#button_pane .dijitButtonText {
    line-height: 21px;
}

.dijitButton, .dijitComboButton {
    margin: 0 5px 0 0 !important;
}

.dijitTabPaneWrapper img {
    height: 12px;
}

.dojoxGridMasterMessages {
    height: 100%;
}