.groupPermissionSchemeEntryIcon {
    background-image: url('../images/theme/icons/fugue/users.png');
    width: 16px;
    height: 16px;
}

.fieldPermissionSchemeEntryIcon {
    background-image: url('../images/ticketSettings/category.gif');
    width: 16px;
    height: 16px;
}

.roleIcon {
    background-image: url('../images/theme/icons/fugue/user-silhouette-question.png');
    width: 16px;
    height: 16px;
}

.userIcon {
    background-image: url('../images/theme/icons/fugue/user-black-female.png');
    width: 16px;
    height: 16px;
}

.adduser img,
.addrole img {
    margin-left: 3px;
    vertical-align: top;
}