div.filterValuesBox {
    width:200px;
    max-height:75px;
    overflow:auto;
}

table.filterValues {
    width: 100%;
}

table.filterValues td {
    padding: 4px 0 4px 5px;
}

table.filterValues td.delete {
    width: 16px;
}

ul.extended-list li.filter-definition {
    max-height: 85px;
}

ul.extended-list li.filter-definition > a {
    min-height: 30px;
}

ul.extended-list li.filter-definition ul.extended-options li {
    line-height: normal;
}

ul.extended-list li.filter-definition ul.extended-options img {
    width: 14px;
    height: 14px;
    vertical-align: top;
}

#filter-block ul.extended-list > li:first-child {
    border-top: 1px dotted #afafaf;
}

#field-select {
    width: 300px;
}

#field-in-filter-select {
    width: 200px;
}
