html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

input, select, textarea{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus{
    border-color: #b2d1ff;
}

.groupTitle{
    font-weight:bold;
    width:100%;
}

.trTitle td{
    padding:5px;
    border-bottom: 1px solid #869FC0;
}

.trLine td{
    padding:10px;
}

.box{
    border: 1px solid #D4E3F7;
}

iframe{
    width:100%;
    height:100%;
    background-color:transparent;
}

.techDiv{
    width:38%;
    float:left;
}

.catDiv{
    width:58%;
    float:right;
}

.setBox{
    height:350px;
    width:100%;
    margin-top:5px;
    float:inherit;
    overflow: hidden;    
}

.setTitle{
    float:left;
}

.setButton{
    float:right;
}

tr.ruled td {
    cursor: pointer;
    background-color: #ffffcd;
    color:#000000;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

tr.toberuled td{
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.odd {
    background:#ededed;
    color:#666666;
}

.even {
    background:white;
    color:#666666;
}

a {
    color: #666666;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}