<?xml version="1.0" encoding="utf-8"?>
<jnlp
        spec="$jnlpspec"
        codebase="$baseUrl/tightvnc-viewer-webstart"
        href="">
    <information>
        <title>TightVNC Viewer</title>
        <vendor>TightVNC</vendor>
        <homepage href="http://www.tightvnc.com"/>
        <description>TightVNC is a free remote control software package. With TightVNC, you can see the desktop of a
            remote machine and control it with your local mouse and keyboard, just like you would do it sitting in the
            front of that computer.
        </description>
        <offline-allowed/>

    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.5+"/>
        $dependencies

    </resources>
    <application-desc main-class="net.grouplink.ehelpdesk.vncviewer.VncViewer">
        <argument>HOST</argument>
        <argument>$host</argument>
        <argument>PORT</argument>
        <argument>$port</argument>
    </application-desc>

</jnlp>
